<div class="content">
  <div>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Filter list</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="dataSource.search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-chip-list>
        <mat-chip *ngFor="let filter of (dataSource.akitaFiltersPlugIn.selectFilters() | async)">
          {{filter.name}}
          <mat-icon matChipRemove (click)="dataSource.removeFilterDirectly(filter.id)">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <span>  Count : {{count$ | async}}</span>
    </p>
  </div>
  <div class="mat-elevation-z8">
    <div *ngIf="dataSource.paginator">
      <mat-paginator #paginator
                     [pageIndex]="0"
                     [pageSize]="25"
                     [pageSizeOptions]="[10, 25, 50, 100, 250]">
      </mat-paginator>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let row;">{{row.title}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
        <mat-cell *matCellDef="let row;">{{row.created | date:'d.MM.YYYY'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="producer">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Producer</mat-header-cell>
        <mat-cell *matCellDef="let row;">{{row.producer}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="director">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Director</mat-header-cell>
        <mat-cell *matCellDef="let row;">{{row.director}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="isFavouritMovie">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Your favourit?</mat-header-cell>
        <mat-cell *matCellDef="let row;" class="checkbox">
          <mat-checkbox [(ngModel)]="row.isFavouritMovie" (click)="onCheckedUpdateFavouritMovie(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </div>
</div>
